body{
    border: solid;
    display: grid;
    min-height:100%;
    grid-template-rows: auto 1fr auto 1fr auto;
}

.img{
    width: 9vh;
}

.nava{
    display: flex;
    justify-content: end;
}

.carousel-inner img {
    width: 100%;
    max-height: 60vh;
}

.carousel-inner{
 height: 200vh;

}

#carouselExampleIndicators{
    height: 60vh;
    background-color: aqua;
}

.form-check{
    margin-top: 5vh;
    margin-right: 4vh;
    
}

.margin{
    margin-top: 10vh;
}

.contenedor{
    width: 65vh;
    margin-top: 19vh;
}

.mar{
margin: 4vh;
}

.mb-3{
    margin-top: 2vh;
}

footer{
    background-color: blue;
    
}